---
layout: default
title: Encodings 
---

{% comment %}
=======================
The following part extracts all the dataType from your posts and sort dataType, so that you do not need to manually collect your dataType to a place.
=======================
{% endcomment %}
{% assign rawdataType = "" %}
{% for post in site.posts %}
    {% assign tdataType = post.dataType | join:'|' | append:'|' %}
    {% assign rawdataType = rawdataType | append:tdataType %}
{% endfor %}
{% assign rawdataType = rawdataType | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated dataType and invalid dataType like blank tag.
=======================
{% endcomment %}
{% assign dataType = "" %}
{% for tag in rawdataType %}
    {% if tag != "" %}
        {% if dataType == "" %}
            {% assign dataType = tag | split:'|' %}
        {% endif %}
        {% unless dataType contains tag %}
            {% assign dataType = dataType | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for tag in dataType %}
    <a href="#{{ tag | slugify }}"> {{ tag }} </a>
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in dataType %}
    <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
    <ul>
     {% for post in site.posts %}
         {% if post.dataType contains tag %}
         <li>
         <h3>
         <a href="{{ post.url | prepend: site.baseurl  }}">
         {{ post.title }}
         <small>{{ post.date | date_to_string }}</small>
         </h3>
         </a>
         {% for tag in post.dataType %}
             <a class="tag" href="#{{ tag | slugify }}">{{ tag }}</a>
         {% endfor %}
         
         </li>
         {% endif %}
     {% endfor %}
    </ul>
{% endfor %}