---
layout: default
title: Encodings 
---

{% comment %}
=======================
The following part extracts all the typeOfEval from your posts and sort typeOfEval, so that you do not need to manually collect your typeOfEval to a place.
=======================
{% endcomment %}
{% assign rawtypeOfEval = "" %}
{% for post in site.posts %}
    {% assign ttypeOfEval = post.typeOfEval | join:'|' | append:'|' %}
    {% assign rawtypeOfEval = rawtypeOfEval | append:ttypeOfEval %}
{% endfor %}
{% assign rawtypeOfEval = rawtypeOfEval | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated typeOfEval and invalid typeOfEval like blank tag.
=======================
{% endcomment %}
{% assign typeOfEval = "" %}
{% for tag in rawtypeOfEval %}
    {% if tag != "" %}
        {% if typeOfEval == "" %}
            {% assign typeOfEval = tag | split:'|' %}
        {% endif %}
        {% unless typeOfEval contains tag %}
            {% assign typeOfEval = typeOfEval | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for tag in typeOfEval %}
    <a href="#{{ tag | slugify }}"> {{ tag }} </a>
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in typeOfEval %}
    <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
    <ul>
     {% for post in site.posts %}
         {% if post.typeOfEval contains tag %}
         <li>
         <h3>
         <a href="{{ post.url | prepend: site.baseurl  }}">
         {{ post.title }}
         <small>{{ post.date | date_to_string }}</small>
         </h3>
         </a>
         {% for tag in post.typeOfEval %}
             <a class="tag" href="#{{ tag | slugify }}">{{ tag }}</a>
         {% endfor %}
         
         </li>
         {% endif %}
     {% endfor %}
    </ul>
{% endfor %}