---
layout: default
title: Encodings 
---

{% comment %}
=======================
The following part extracts all the interactionPattern from your posts and sort interactionPattern, so that you do not need to manually collect your interactionPattern to a place.
=======================
{% endcomment %}
{% assign rawinteractionPattern = "" %}
{% for post in site.posts %}
    {% assign tinteractionPattern = post.interactionPattern | join:'|' | append:'|' %}
    {% assign rawinteractionPattern = rawinteractionPattern | append:tinteractionPattern %}
{% endfor %}
{% assign rawinteractionPattern = rawinteractionPattern | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated interactionPattern and invalid interactionPattern like blank tag.
=======================
{% endcomment %}
{% assign interactionPattern = "" %}
{% for tag in rawinteractionPattern %}
    {% if tag != "" %}
        {% if interactionPattern == "" %}
            {% assign interactionPattern = tag | split:'|' %}
        {% endif %}
        {% unless interactionPattern contains tag %}
            {% assign interactionPattern = interactionPattern | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for tag in interactionPattern %}
    <a href="#{{ tag | slugify }}"> {{ tag }} </a>
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in interactionPattern %}
    <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
    <ul>
     {% for post in site.posts %}
         {% if post.interactionPattern contains tag %}
         <li>
         <h3>
         <a href="{{ post.url | prepend: site.baseurl  }}">
         {{ post.title }}
         <small>{{ post.date | date_to_string }}</small>
         </h3>
         </a>
         {% for tag in post.interactionPattern %}
             <a class="tag" href="#{{ tag | slugify }}">{{ tag }}</a>
         {% endfor %}
         
         </li>
         {% endif %}
     {% endfor %}
    </ul>
{% endfor %}