---
layout: default
title: Type of Evaluation
---

{% comment %}
=======================
The following part extracts all the typeEnc from your posts and sort typeEnc, so that you do not need to manually collect your typeEnc to a place.
=======================
{% endcomment %}
{% assign rawtypeEnc = "" %}
{% for post in site.posts %}
    {% assign ttypeEnc = post.typeEnc | join:'|' | append:'|' %}
    {% assign rawtypeEnc = rawtypeEnc | append:ttypeEnc %}
{% endfor %}
{% assign rawtypeEnc = rawtypeEnc | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated typeEnc and invalid typeEnc like blank tag.
=======================
{% endcomment %}
{% assign typeEnc = "" %}
{% for tag in rawtypeEnc %}
    {% if tag != "" %}
        {% if typeEnc == "" %}
            {% assign typeEnc = tag | split:'|' %}
        {% endif %}
        {% unless typeEnc contains tag %}
            {% assign typeEnc = typeEnc | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
<ul class="tags">
{% for tag in typeEnc %}
    <li>
        <a href="#{{ tag | slugify }}"> {{ tag }} </a>
    </li>
{% endfor %}
</ul>

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in typeEnc %}
    <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
    <ul>
     {% for post in site.posts %}
         {% if post.typeEnc == tag %}
         <li>
         <h3>
         <a href="{{ post.url | prepend: site.baseurl  }}">
         {{ post.title }}
         <small>{{ post.date | date_to_string }}</small>
         </h3>
         </a>
         
         {% for tag in post.typeEnc %}
             <a class="tag" href="#{{ tag | slugify }}">{{ tag }}</a>
         {% endfor %}
         
         </li>
         {% endif %}
     {% endfor %}
    </ul>
{% endfor %}