.grow rect {
    stroke: black;
    shape-rendering: crispEdges;
    fill: none;
}

.axis text {
    font: 15px sans-serif;
}

#tasks .axis text {
    font: 12px sans-serif;
}

.legend text {
    font: 15px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#encodings .x.axis path,
#encodings .x.axis line {
    display: none;
}

#encodings .y.axis path,
#encodings .y.axis line {
    display: none;
}
/*.row {*/
    /*margin-top: 10px;*/
/*}*/

tr.row_selected td {
    background-color: #fee0d2 !important;
    font-weight: bold !important;
}

#tooltip{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:black;
}

.unSelected {
    fill: #f0f0f0 !important;
}

.linked {
    stroke-opacity: 1 !important;
    stroke-width: 1 !important;
    stroke: #feb24c !important;
    fill-opacity: 0.4 !important;
}

.nv-axis .tick line {
    display:none;
}

#encodings .nv-y .domain {
    display:none;
}

#encodings svg .nv-distribution line{
    display: none;
}

.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 2px;
    fill-opacity: .95 !important;
}

#encodings .nv-groups path {
    stroke: #fff;
}

.x_panel {
    padding: 0 !important;
}

.x_title {
    padding-left: 17px !important;
}

.cog {
    float: right;
    margin-top: 10px !important;
    margin-right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

#cogEnc .popover {
    width:200px;
    height:250px;
}

.nv-legendWrap .nv-legend-symbol, .nv-legendWrap .nv-legend-text{
    cursor: default !important;
}